#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages that Data Scientists use.
- List commonly used libraries used by Data Scientists.
- Comment on Data Science tools.

Some of the popular languages that Data Scientists use are:

1.PYTHON

2.R

3.SQL

Some of the commonly used libraries used by Data Scientists include:

1.Matplotlib

2.NumPy

3.PyTorch

4.tensorflow

5.Pandas

|Data Science Tools|
|------------------|
|SAS|
|Apache Spark|
|Tableau|

###Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
x=10 #int
y=12 #int
z=x+y
print(z)

22

In [3]:
x=float(10.5) #float
y=float(5.3)  #float
z=x/y
print(z)

1.9811320754716981

In [5]:
x=21.1 
y=10.5 
z=x//y #floor division
print(z)

2.0

In [7]:
x=float(input("enter the 1st no.:"))
y=int(input("enter the 2nd no.:"))
z=x**y
print("exponentiation is:",z)

enter the 1st no.: 25.3
enter the 2nd no.: 4

exponentiation is: 409715.20810000005

This a simple arithmeticexpression to mutiply then add integers.

In [9]:
(3*4)+5 #here all are int values.

17

This will convert 200 minutes to hours by diving by 60

In [10]:
minutes=200 #total minutes
hours=minutes/60
print(hours)

3.3333333333333335

##**Author:**

Sanjoy Karmakar